<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--Thread Settings-->

		<add key="MaxDegreeOfParallelism" value="3" />
		 
		<add key ="IntervalSeconds" value ="300000"/>

	</appSettings>
</configuration>